force-app/main/default/flows/MMPD_Statement_of_Need.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification_Action_1</name>
        <label>Send Notification to VP</label>
        <locationX>446</locationX>
        <locationY>1862</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_to_Division_VP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Copy_DivisionalVPLookUp.recordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Please Review the Program Proposal for Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Please review the program and case and complete the task </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Division_VP</name>
        <label>Send Email to Division VP</label>
        <locationX>446</locationX>
        <locationY>1970</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Find_Rework_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Division_VP_User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Division VP Proposal Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DivisionVPBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assigning_division_VP</name>
        <label>assigning division VP</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Division_VP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_DivisionalVPLookUp.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Storing the field values by assigning them to a variable - record type</description>
        <name>Assigning_the_form_values</name>
        <label>Assigning the form values</label>
        <locationX>765</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Program_Short_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShortProgramName.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Program_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Description.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.IsEconomicNeed_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_Economic_Need.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Program_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Name.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate.dateValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.New_Program_Proposal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Division VP Approval 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Statement_of_Need_is_Submitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Supporting_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SupportingData.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Purpose_Statement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PurposeStatement.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Expected_Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpectedImpact.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Target_Audience_Benefiting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetAudience.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Budget_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fiscal_Year.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_all_Rows_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Rework_Task</name>
        <label>Assignment for Rework Task</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>Find_Rework_Tasks.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Find_Rework_Tasks.Decision_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reviewed and Accepted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_the_Rework_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Rows</name>
        <label>Count Rows</label>
        <locationX>765</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RowKeyDataMetrics</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>KeyDataMetricsTable.outputAllRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RowProjectGoals</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ProjectGoalsTable.outputAllRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_the_form_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KeyDataMetrics_assignment</name>
        <label>KeyDataMetrics assignment</label>
        <locationX>765</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>DataMetricsVariable.Related_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProjectGoal_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProjectGoal_Assignment</name>
        <label>ProjectGoal Assignment</label>
        <locationX>765</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ProjectGoals.Related_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Statement_of_Need</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoPicklist</name>
        <choiceText>No, I would like to save and revisit my work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoPicklist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Permanent</name>
        <choiceText>Permanent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Permanent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pilot</name>
        <choiceText>Pilot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pilot</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesPicklist</name>
        <choiceText>Yes, this looks good!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_all_Rows_Completed</name>
        <label>Are all Rows Completed?</label>
        <locationX>765</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Statement_of_Need</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_they_are</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RowKeyDataMetrics</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RowProjectGoals</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Division_VP_Approval</targetReference>
            </connector>
            <label>Yes they are</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Read_Only</name>
        <label>Is Read Only?</label>
        <locationX>407</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>KeyDataMetrics_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReadOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Statement_of_Need</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Rework_Task</name>
        <label>Is there a Rework Task?</label>
        <locationX>446</locationX>
        <locationY>2186</locationY>
        <defaultConnector>
            <targetReference>Updating_Field_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Rework_Task_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Rework_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Rework_Task</targetReference>
            </connector>
            <label>Yes Rework Task Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_for_Division_VP_Approval</name>
        <label>Submit for Division VP Approval</label>
        <locationX>600</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Updating_Field_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCreateDivisionVPTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmitForApproval_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesPicklist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigning_division_VP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow for Statement of Need with Flow Interview breaks</description>
    <environments>Default</environments>
    <interviewLabel>MMPD - Statement of Need {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MMPD - Statement of Need</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Flow_Interview_Records</name>
        <label>Create Flow Interview Records</label>
        <locationX>600</locationX>
        <locationY>2786</locationY>
        <inputAssignments>
            <field>Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>MMPD - Statement of Need</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatesToId__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Flow_Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Sends a task to Divisional VP/ Manager</description>
        <name>Divisonal_VP_Approval</name>
        <label>Divisonal VP Approval</label>
        <locationX>446</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Custom_Notification_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date_for_Approval_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please review the related case for approval. Upon approving a it will create a subsequent task for SISC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_DivisionalVPLookUp.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Division VP Approval 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Division VP Approval 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Custom_Notification_ID</name>
        <label>Custom Notification ID</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Division_VP_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Program_Review_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Rework_Tasks</name>
        <label>Find Rework Tasks</label>
        <locationX>446</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Rework_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rework Statement of Need</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting Case Records</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>407</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Key_Data_Metrics_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Division_VP_User</name>
        <label>Get Division VP User</label>
        <locationX>446</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Custom_Notification_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_DivisionalVPLookUp.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Key_Data_Metrics_Records</name>
        <label>Get Key Data Metrics Records</label>
        <locationX>407</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Goal_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Key_Data_Measurements__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Goal_Records</name>
        <label>Get Project Goal Records</label>
        <locationX>407</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Read_Only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Goals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record_Type</name>
        <label>Get Task Record Type</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Divisonal_VP_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task_for_Program</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_the_Rework_Task</name>
        <label>Close the Rework Task</label>
        <locationX>314</locationX>
        <locationY>2402</locationY>
        <connector>
            <targetReference>Updating_Field_Values</targetReference>
        </connector>
        <inputReference>Find_Rework_Tasks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating field values</description>
        <name>Updating_Field_Values</name>
        <label>Updating Field Values</label>
        <locationX>600</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>Create_Flow_Interview_Records</targetReference>
        </connector>
        <inputReference>Get_Case_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Statement of Need form for New Program Proposal and Change in Program Proposal Case Record Types</description>
        <name>Copy_1_of_Statement_of_Need</name>
        <label>readOnly Statement of Need</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Program_Name</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Program Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>Program Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>255</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Program_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_ShortProgramName</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Short Program Name </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>Short Program Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paddingHorizontal</name>
                <value>
                    <numberValue>-10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paddingVertical</name>
                <value>
                    <numberValue>-10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Program_Short_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_DueDate</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Due Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>Due Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateValue</name>
                <value>
                    <elementReference>Get_Case_Record.Due_Date__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Fiscal_Year</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fiscal Year</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>Fiscal Year</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please enter in the format of YYYY (eg: 2024)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Budget_Year__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Program_Description</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Begin by clearly stating what the program is designed to do and its reasons for existence. Include how the program aims to encourage economic development.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>Program Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>32768</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Program_Description__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>longtext</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Reason_Economic_Need</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>32768</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Describe the economic need the program intends to fill, providing context for the program&apos;s existence.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>ifYes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.IsEconomicNeed_Reason__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>longtext</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_SupportingData</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Identify the data or research supporting the program&apos;s rationale.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>32768</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Supporting_Data__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>longtext</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_PurposeStatement</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Articulate the program&apos;s purpose and explain how it intends to meet the identified economic needs.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>32768</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Purpose_Statement__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>longtext</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_ExpectedImpact</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Outline the impact the program aims to achieve, including which pillars of Economic well-being it supports.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>32768</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Expected_Impact__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>longtext</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_TargetAudience</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Based on the program’s purpose, define the businesses or entities expected to benefit from the program&apos;s incentives.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>32768</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Target_Audience_Benefiting__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>longtext</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Program_Overview</name>
            <fieldText>Program Overview</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Program_Overview_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_KeyDataMetricsTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Key_Data_Measurements__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>componentApiName</name>
                        <value>
                            <stringValue>Copy_1_of_KeyDataMetricsTable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Key_Data_Measurements__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Key_Data_Metrics_Records</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Key_Data_Measurement__c,Reason_for_Program_Success__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Key_Data_Measurement__c:208, Reason_for_Program_Success__c:924</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordDeletion</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordAddition</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>List the program&apos;s essential features (excluding budget) that are necessary to achieve its desired impact. Explain why each feature is important.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:article</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Reason_for_Program_Success__c:List the program&apos;s essential features (excluding budget) that are necessary to achieve its desired impact. Explain why each feature is important.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWraps</name>
                        <value>
                            <stringValue>Key_Data_Measurement__c:true, Reason_for_Program_Success__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_ProjectGoalsTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Project_Goals__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>componentApiName</name>
                        <value>
                            <stringValue>Copy_1_of_ProjectGoalsTable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Project_Goals__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Project_Goal_Records</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Project_Goal__c,Project_Goal_Reason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Project_Goal_Reason__c:Why is it important to the Porgram?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Project_Goal__c:635, Project_Goal_Reason__c:710</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordDeletion</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordAddition</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Specify the types of project goals that should align with the program&apos;s desired impact, explaining why these goals are important and how data on these goals will be collected.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:goals</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWraps</name>
                        <value>
                            <stringValue>Project_Goal__c:true, Project_Goal_Reason__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Statement of Need form for New Program Proposal and Change in Program Proposal Case Record Types</description>
        <name>Statement_of_Need</name>
        <label>Statement of Need</label>
        <locationX>765</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Rows</targetReference>
        </connector>
        <fields>
            <name>Warning1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(250, 3, 3);&quot;&gt;Please fill out the all the Tables in &quot;Program Overview&quot; section before submitting your work&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>RowKeyDataMetrics</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RowProjectGoals</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Program_Name</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Program Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>Program Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>255</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Program_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShortProgramName</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Short Program Name </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>Short Program Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paddingHorizontal</name>
                <value>
                    <numberValue>-10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paddingVertical</name>
                <value>
                    <numberValue>-10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Program_Short_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DueDate</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Due Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>Due Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateValue</name>
                <value>
                    <elementReference>Get_Case_Record.Due_Date__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Fiscal_Year</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fiscal Year</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>Fiscal Year</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Please enter in the format of YYYY (eg: 2024)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Budget_Year__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Program_Description</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Begin by clearly stating what the program is designed to do and its reasons for existence. Include how the program aims to encourage economic development.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>Program Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>32768</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Program_Description__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>longtext</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Reason_Economic_Need</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>32768</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Describe the economic need the program intends to fill, providing context for the program&apos;s existence.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>ifYes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.IsEconomicNeed_Reason__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>longtext</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SupportingData</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Identify the data or research supporting the program&apos;s rationale.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>32768</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Supporting_Data__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>longtext</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PurposeStatement</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Articulate the program&apos;s purpose and explain how it intends to meet the identified economic needs.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>32768</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Purpose_Statement__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>longtext</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ExpectedImpact</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Outline the impact the program aims to achieve, including which pillars of Economic well-being it supports.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>32768</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Expected_Impact__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>longtext</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TargetAudience</name>
            <extensionName>c:lwcInputWEDC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Based on the program’s purpose, define the businesses or entities expected to benefit from the program&apos;s incentives.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxLength</name>
                <value>
                    <stringValue>32768</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyInUse</name>
                <value>
                    <elementReference>ReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.Target_Audience_Benefiting__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>longtext</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Program_Overview</name>
            <fieldText>Program Overview</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Program_Overview_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TableWarning1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;*Please fill out the following Table&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RowKeyDataMetrics</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>KeyDataMetricsTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Key_Data_Measurements__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>componentApiName</name>
                        <value>
                            <stringValue>KeyDataMetricsTable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Key_Data_Measurements__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Key_Data_Metrics_Records</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Key_Data_Measurement__c,Reason_for_Program_Success__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Key_Data_Measurement__c:208, Reason_for_Program_Success__c:924</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowRecordDeletion</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordDeletion</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordAddition</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowRecordAddition</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>List the program&apos;s essential features (excluding budget) that are necessary to achieve its desired impact. Explain why each feature is important.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:article</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Reason_for_Program_Success__c:List the program&apos;s essential features (excluding budget) that are necessary to achieve its desired impact. Explain why each feature is important.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>liveUpdateModeEnabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_liveUpdateModeEnabled</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultInputRecord</name>
                        <value>
                            <elementReference>DataMetricsVariable</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWraps</name>
                        <value>
                            <stringValue>Key_Data_Measurement__c:true, Reason_for_Program_Success__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>WarningTable1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;*Please fill out the following Table&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RowProjectGoals</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ProjectGoalsTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Project_Goals__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>componentApiName</name>
                        <value>
                            <stringValue>ProjectGoalsTable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Project_Goals__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Project_Goal_Records</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Project_Goal__c,Project_Goal_Reason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Project_Goal_Reason__c:Why is it important to the Program?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Project_Goal__c:635, Project_Goal_Reason__c:710</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowRecordDeletion</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordDeletion</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowRecordAddition</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordAddition</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Specify the types of project goals that should align with the program&apos;s desired impact, explaining why these goals are important and how data on these goals will be collected.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:goals</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>draftValuesTTL</name>
                        <value>
                            <numberValue>5.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>liveUpdateModeEnabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_liveUpdateModeEnabled</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultInputRecord</name>
                        <value>
                            <elementReference>ProjectGoals</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWraps</name>
                        <value>
                            <stringValue>Project_Goal__c:true, Project_Goal_Reason__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Warning2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(99, 0, 66); background-color: rgb(255, 255, 255);&quot;&gt;NOTE! Adding a Divisional VP is required to further process this submission. This will forward your submission through the Review Processes of the Division VP, Steering Committee and Working Group.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubmitForApproval_Picklist</name>
            <choiceReferences>YesPicklist</choiceReferences>
            <choiceReferences>NoPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to submit your proposal for Divisional VP approval</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_DivisionalVPLookUp</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please select a Division VP to further process your work</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SubmitForApproval_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesPicklist</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Due_Date_for_Approval_Task</name>
            <dataType>Date</dataType>
            <fieldText>Due Date for Approval Task</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SubmitForApproval_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesPicklist</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>281</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DivisionVPBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Greetings!&lt;/p&gt;We hope this email finds you well.&lt;/p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are writing to request your review and approval of the related case at your earliest convenience. Your approval is crucial as it will automatically generate a subsequent task, allowing us to proceed with the next steps efficiently.&lt;/p&gt;&lt;br&gt;&lt;/p&gt;Please find the details of the case attached for your perusal. If you have any questions or require additional information, do not hesitate to reach out.&lt;/p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Program Name: &lt;/strong&gt;{!Get_Case_Record.Program_Name__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Program Case URL :&lt;/strong&gt; https://wedc.lightning.force.com/{!Get_Case_Record.Id}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Thank you for your prompt attention to this matter.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;--Please do not reply to this email--&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CompletedFlows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompletionsSubmissionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DataMetricsVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Key_Data_Measurements__c</objectType>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Please review the attached case for approval of a New Program Proposal</stringValue>
        </value>
    </variables>
    <variables>
        <name>KeyDataTableCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Key_Data_Measurements__c</objectType>
    </variables>
    <variables>
        <name>PorjectGoalTableCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Goals__c</objectType>
    </variables>
    <variables>
        <name>ProjectGoals</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Goals__c</objectType>
    </variables>
    <variables>
        <name>ReadOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>case record id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RowKeyDataMetrics</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RowProjectGoals</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
