force-app/main/default/flows/MMPD_Complete_the_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh</name>
        <label>Refresh</label>
        <locationX>732</locationX>
        <locationY>2174</locationY>
        <actionName>c:localRefresh</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:localRefresh</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Records.Decision_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reviewed and Accepted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task_Records.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task_Records.Decision_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_any_additional_notes_or_comments_regarding_what_you_have_reworked</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Completing_standard_task</name>
        <label>Assignment for Completing standard task</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Records.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task_Records.Decision_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reviewed and Accepted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Standard_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Members_in_a_Variable</name>
        <label>Assignment of Members in a Variable</label>
        <locationX>908</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SISC_Member_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SISC_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SISC_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Number_of_Related_Tasks</name>
        <label>Count Number of Related Tasks</label>
        <locationX>710</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>NumberofTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ALL_Related_Task_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Record_Assignment</name>
        <label>Update Task Record Assignment</label>
        <locationX>754</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Records.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task_Records.Decision_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovalPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task_Records.Decision_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DecisionNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Declined_Submission</name>
        <choiceText>Declined Submission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined Submission</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_I_have_not_made_the_changes_yet</name>
        <choiceText>No I have not made the changes yet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No I have not made the changes yet</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reviewed_and_Accepted</name>
        <choiceText>Reviewed and Accepted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reviewed and Accepted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rework</name>
        <choiceText>Rework</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rework</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_I_have_made_the_changes</name>
        <choiceText>Yes I have made the changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes I have made the changes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Do_more_than_1_task_exist</name>
        <label>Do more than 1 task exist?</label>
        <locationX>622</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Update_Task_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofTasks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>prior_Task_Incomplete_Screen</targetReference>
            </connector>
            <label>Yes it exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rework_Completed</name>
        <label>Is Rework Completed?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Refresh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_Rework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>You_have_a_rework_task_assigned_to_you_Have_you_completed_reworking_the_form_s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_I_have_made_the_changes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>Yes it is!</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_user_authorized</name>
        <label>Is the user authorized?</label>
        <locationX>820</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Unauthorized_User_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_the_user_is_authorized</name>
            <conditionLogic>((1 OR 2) AND 3) OR ((4 OR 5) AND 6) OR 7 OR 8 OR 9</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Steering Committee Approval 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Steering Committee Approval 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SISC_Member_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BetterUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division VP Approval 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division VP Approval 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BetterUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_related_Case.Division_VP__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working Group Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Board Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ALL_Related_Records</targetReference>
            </connector>
            <label>Yes the user is authorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Task</name>
        <label>What type of Task?</label>
        <locationX>732</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assignment_for_Completing_standard_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Task</defaultConnectorLabel>
        <rules>
            <name>Rework_task</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rework Statement of Need</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rework Investment Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rework_Screen</targetReference>
            </connector>
            <label>Rework task</label>
        </rules>
        <rules>
            <name>Approval_Task</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division VP Approval 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division VP Approval 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Steering Committee Approval 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Steering Committee Approval 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working Group Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Board Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SISC_Queue</targetReference>
            </connector>
            <label>Approval Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BetterUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Complete the Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete the Task</label>
    <loops>
        <name>Loop_ALL_Related_Task_Records</name>
        <label>Loop ALL Related Task Records</label>
        <locationX>622</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_ALL_Related_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Number_of_Related_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Do_more_than_1_task_exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SISC_Members</name>
        <label>Loop SISC Members</label>
        <locationX>820</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_SISC_Group_Member_ID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_of_Members_in_a_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_the_user_authorized</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_ALL_Related_Records</name>
        <label>Get ALL Related Records</label>
        <locationX>622</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ALL_Related_Task_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_related_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Case</name>
        <label>Get related Case</label>
        <locationX>732</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_type_of_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Records.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SISC_Group_Member_ID</name>
        <label>Get SISC Group Member ID</label>
        <locationX>820</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SISC_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SISC_Queue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SISC_Queue</name>
        <label>get SISC Queue</label>
        <locationX>820</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SISC_Group_Member_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Steering_Committee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Records</name>
        <label>Get Task Records</label>
        <locationX>732</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>754</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Refresh</targetReference>
        </connector>
        <inputReference>Get_Task_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Standard_task</name>
        <label>Update Standard task</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Refresh</targetReference>
        </connector>
        <inputReference>Get_Task_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Refresh</targetReference>
        </connector>
        <inputReference>Get_Task_Records</inputReference>
    </recordUpdates>
    <screens>
        <name>prior_Task_Incomplete_Screen</name>
        <label>prior Task Incomplete Screen</label>
        <locationX>490</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh</targetReference>
        </connector>
        <fields>
            <name>TaskIncompleteWarning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;Please complete all pending tasks before proceeding with this approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rework_Screen</name>
        <label>Rework Screen</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Rework_Completed</targetReference>
        </connector>
        <fields>
            <name>You_have_a_rework_task_assigned_to_you_Have_you_completed_reworking_the_form_s</name>
            <choiceReferences>Yes_I_have_made_the_changes</choiceReferences>
            <choiceReferences>No_I_have_not_made_the_changes_yet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>You have a rework task assigned to you. Have you completed reworking the form(s)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReworkWarning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please revisit this tab after making the rework changes! &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>You_have_a_rework_task_assigned_to_you_Have_you_completed_reworking_the_form_s</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No_I_have_not_made_the_changes_yet</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_provide_any_additional_notes_or_comments_regarding_what_you_have_reworked</name>
            <dataType>String</dataType>
            <fieldText>Please provide any additional notes or comments regarding what you have reworked</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>You_have_a_rework_task_assigned_to_you_Have_you_completed_reworking_the_form_s</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_have_made_the_changes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unauthorized_User_Screen</name>
        <label>Unauthorized User Screen</label>
        <locationX>1018</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh</targetReference>
        </connector>
        <fields>
            <name>UnauthorizedErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please note that you do not have authorization to close this task.&lt;/span&gt;&lt;span style=&quot;color: rgb(244, 5, 5);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Task_Details</name>
        <label>Update Task Details</label>
        <locationX>754</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Task_Record_Assignment</targetReference>
        </connector>
        <fields>
            <name>ApprovalPicklist</name>
            <choiceReferences>Reviewed_and_Accepted</choiceReferences>
            <choiceReferences>Rework</choiceReferences>
            <choiceReferences>Declined_Submission</choiceReferences>
            <dataType>String</dataType>
            <fieldText>You have a new approval request pending. Please review and take action accordingly.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DecisionNotes</name>
            <dataType>String</dataType>
            <fieldText>Please provide any additional notes or comments regarding your approval decision</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NumberofTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SISC_Member_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
