force-app/main/default/flows/MMPD_Investment_Development.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification_to_Working_Group</name>
        <label>Send Custom Notification to Working Group</label>
        <locationX>446</locationX>
        <locationY>2786</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_to_Working_Group</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>memberID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Working Group Development Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Working_Group</name>
        <label>Send Email to Working Group</label>
        <locationX>446</locationX>
        <locationY>2894</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Rework_Task</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>emailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Working Group Development Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_of_Fields_for_Case</name>
        <label>Assignment of Fields for Case</label>
        <locationX>600</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Award_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Type.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Program_Outcomes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Outcomes.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Estimate_for_Evaluation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimate_evaluation.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Threat_Preparedness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Threat_Preparedness.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Can_WEDC_Implement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Can_WEDC_Implement.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Report_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Report_Frequency.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Target_Audience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetAudience.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Scoring_Criteria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScoringCriteria.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.IsLoan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsLoan.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Collateral_Requirements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollateralRequirements.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Estimated_Award_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EstimatedAwardSize.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.How_Many_Award__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HowManyAwards.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Maximum_Award_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaxAwardSize.intValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Funding_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FundingSource.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Is_Business_or_Community_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsBusiness_Community.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Addendums_for_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddendumsProgram.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Budget_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetAmount.intValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Can_WEDC_Implement_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanWEDCImplement_Reason.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Rollout_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RolloutDate.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.New_Program_Proposal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working Group Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Program_Guideline_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Guideline_Link.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Is_Competetive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Competetive.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Members_User_ID</name>
        <label>Collect Members User ID</label>
        <locationX>534</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>memberID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_the_Working_Group_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Working_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Number_of_Rows</name>
        <label>Count Number of Rows</label>
        <locationX>765</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>CountRowsEligibleFunds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>EligibleIneligibleTable.outputAllRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countRowsDeliverable</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ProgramDeliverableTable.outputAllRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countRowsEligibleCriteria</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>EligibilityCriteriaTable.outputAllRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_all_the_rows_completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Eligibility_Criteria_Default_Value</name>
        <label>Eligibility Criteria Default Value</label>
        <locationX>765</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ProgramEligibilityDefaultValue.Related_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Eligible_Fund_Default_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_List_of_Queue_members</name>
        <label>Email List of Queue members</label>
        <locationX>534</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>emailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Program_Eligible_Fund_Default_Value</name>
        <label>Program Eligible Fund Default Value</label>
        <locationX>765</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>programEligibleFundDefaultValue.Related_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Investment_Development</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProgramDeliverable_Default_Variable</name>
        <label>ProgramDeliverable Default Variable</label>
        <locationX>765</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ProgramDeliverableDefaultValue.Related_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eligibility_Criteria_Default_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rework_task_Assignment</name>
        <label>Rework task Assignment</label>
        <locationX>314</locationX>
        <locationY>3218</locationY>
        <assignmentItems>
            <assignToReference>get_Rework_Task.Decision_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reviewed and Accepted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Rework_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rework_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_I_want_to_save_and_revisit_my_work</name>
        <choiceText>No, I want to save and revisit my work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, I want to save and revisit my work</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_this_looks_good</name>
        <choiceText>Yes, this looks good!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, this looks good!</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_all_the_rows_completed</name>
        <label>Are all the rows completed?</label>
        <locationX>765</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Investment_Development</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_they_are</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countRowsDeliverable</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countRowsEligibleCriteria</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountRowsEligibleFunds</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Working_Group_Approval</targetReference>
            </connector>
            <label>Yes they are!</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Read_Only</name>
        <label>Is Read Only?</label>
        <locationX>407</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>ProgramDeliverable_Default_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>readOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Investment_Development</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Rework_task</name>
        <label>Is there a Rework task?</label>
        <locationX>446</locationX>
        <locationY>3110</locationY>
        <defaultConnector>
            <targetReference>Assignment_of_Fields_for_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Rework_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Rework_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rework_task_Assignment</targetReference>
            </connector>
            <label>Yes Rework Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_for_Working_Group_Approval</name>
        <label>Submit for Working Group Approval</label>
        <locationX>600</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Assignment_of_Fields_for_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Working_Group_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaveWork</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_this_looks_good</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Working_Group_Queue</targetReference>
            </connector>
            <label>Yes - Create Working Group task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TwoWeekFromNow</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <interviewLabel>MMPD - Change In {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MMPD - Investment Development</label>
    <loops>
        <name>Loop_through_the_Working_Group_Members</name>
        <label>Loop through the Working Group Members</label>
        <locationX>446</locationX>
        <locationY>1862</locationY>
        <collectionReference>Get_Working_Group_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Members_User_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_From_the_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Users</name>
        <label>Loop Users - Working Group</label>
        <locationX>446</locationX>
        <locationY>2270</locationY>
        <collectionReference>Get_User_From_the_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_List_of_Queue_members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Task_for_Working_Group_Approval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Flow_Interview_Records</name>
        <label>Create Flow Interview Records</label>
        <locationX>600</locationX>
        <locationY>3818</locationY>
        <inputAssignments>
            <field>Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>MMPD - Investment Development</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatesToId__c</field>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Flow_Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_Working_Group_Approval</name>
        <label>Task for Working Group Approval</label>
        <locationX>446</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>Custom_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TwoWeekFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please review the related case for approval. Upon approving a it will create a subsequent task for the Division VP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Working_Group_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_Record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Working Group Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Working Group Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Custom_Notification</name>
        <label>Custom Notification</label>
        <locationX>446</locationX>
        <locationY>2678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Custom_Notification_to_Working_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Program_Review_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Eligibility_Criteria</name>
        <label>Eligibility Criteria</label>
        <locationX>407</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eligible_Funds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Eligibility_Criteria__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Eligible_Funds</name>
        <label>Eligible Funds</label>
        <locationX>407</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Flow_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Eligible_Fund__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>407</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Deliverable_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Rework_Task</name>
        <label>get Rework Task</label>
        <locationX>446</locationX>
        <locationY>3002</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Rework_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rework Investment Development</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record_type</name>
        <label>Get Task Record Type</label>
        <locationX>446</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_Working_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task_for_Program</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_From_the_Members</name>
        <label>Get User From the Members</label>
        <locationX>446</locationX>
        <locationY>2162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>memberID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Working_Group_Member</name>
        <label>Get Working Group Member</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Working_Group_Queue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Working_Group_Queue</name>
        <label>Get Working Group Queue</label>
        <locationX>446</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Working_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working_Group_Investment_Development</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Previous_Flow_Submission</name>
        <label>Previous Flow Submission</label>
        <locationX>407</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Read_Only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatesToId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interview_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Interview__c</object>
        <sortField>End_Date_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Program_Deliverable_Table</name>
        <label>Program Deliverable Table</label>
        <locationX>407</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eligibility_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Deliverable__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case_Record</name>
        <label>Update Case Record</label>
        <locationX>600</locationX>
        <locationY>3710</locationY>
        <connector>
            <targetReference>Create_Flow_Interview_Records</targetReference>
        </connector>
        <inputReference>Get_Case_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rework_Task</name>
        <label>Update Rework Task</label>
        <locationX>314</locationX>
        <locationY>3326</locationY>
        <connector>
            <targetReference>Assignment_of_Fields_for_Case</targetReference>
        </connector>
        <inputReference>get_Rework_Task</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Investment_Development</name>
        <label>Read Only Investment Development</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Data_Measurement_and_Reporting</name>
            <fieldText>Data Measurement and Reporting</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Data_Measurement_and_Reporting_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_Program_Guideline_Link</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Please provide the URL Link for the Program Guideline template</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>url</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Program_Guideline_Link__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Case_Records.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Program_Development_Process_New_Program</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Program_Type</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What type of Award will this be? Grant, Tax credit, Loan, Other?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>combobox</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>option</name>
                        <value>
                            <stringValue>Grant;Tax Credit;Loan</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Award_Type__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_ProgramDeliverableTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Program_Deliverable__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>componentApiName</name>
                        <value>
                            <stringValue>Copy_1_of_ProgramDeliverableTable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Program_Deliverable__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Program_Deliverable_Table</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Deliverable_Type__c,Deliverable_Definition__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Deliverable_Type__c:500, Deliverable_Definition__c:500</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Start by listing the  specific deliverables  the program is expected to produce. These are tangible products or services resulting from the program&apos;s activities, like reports, events, training sessions, or developed tools.  Clearly defining these deliverables is essential for understanding what the program will concretely achieve in the short term.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:high_velocity_sales</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordAddition</name>
                        <value>
                            <stringValue>FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordDeletion</name>
                        <value>
                            <stringValue>FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>draftValuesTTL</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWraps</name>
                        <value>
                            <stringValue>Deliverable_Type__c:true, Deliverable_Definition__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Program_Outcomes</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Define the program outcomes, which are the longer-term impacts of your program. Unlike outputs and deliverables, outcomes reflect changes or benefits resulting from the program, such as improved skills, behavioral changes, or policy impacts.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>3126</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Program_Outcomes__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Estimate_evaluation</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>255</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How long will it take before we can accurately evaluate the outcomes? </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Estimate_for_Evaluation__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Threat_Preparedness</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How does this program address risk management and threat preparedness at both microeconomic (individual or small-scale) and macroeconomic (national or global scale) levels?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Threat_Preparedness__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Can_WEDC_Implement</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Does WEDC have the necessary skills and resources, at current staffing levels, to successfully implement and sustain this program, or will additional staffing and resources be required?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>combobox</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>option</name>
                        <value>
                            <stringValue>Yes;No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Can_WEDC_Implement__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_CanWEDCImplement_Reason</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>If yes, please specify the additional resources that are required</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Can_WEDC_Implement_Reason__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Can_WEDC_Implement.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Report_Frequency</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How frequently will WEDC report on the progress of this program (performance reporting cadence)?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Report_Frequency__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Eligibility</name>
            <fieldText>Eligibility</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Eligibility_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_EligibilityCriteriaTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Program_Eligibility_Criteria__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>componentApiName</name>
                        <value>
                            <stringValue>Copy_1_of_EligibilityCriteriaTable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Program_Eligibility_Criteria__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Eligibility_Criteria</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Eligibility_Criteria__c,Eligibility_Item_Collection__c,Item_Collection_Period__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Eligibility_Criteria__c:190, Eligibility_Item_Collection__c:475, Item_Collection_Period__c:335</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordDeletion</name>
                        <value>
                            <stringValue>FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordAddition</name>
                        <value>
                            <stringValue>FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>List the eligibility criteria and what needs to be collected to qualify an eligible activity? When will they be collected?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:agent_home</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Eligibility_Item_Collection__c:What needs to be collected to qualify an eligible activity?, Item_Collection_Period__c:When will they be collected?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWraps</name>
                        <value>
                            <stringValue>Eligibility_Criteria__c:true, Eligibility_Item_Collection__c:true, Item_Collection_Period__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_TargetAudience</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How will you reach your target audience? - (Marketing, Comms) </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Target_Audience__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Is_Competetive</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Is the program competitive or non-competitive?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>combobox</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>option</name>
                        <value>
                            <stringValue>Competitive;Non-competitive </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Is_Competetive__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_ScoringCriteria</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>If Competitive, please add the scoring criteria </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Scoring_Criteria__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Competetive.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_RolloutDate</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>If Competitive, please specify When would be the best time to roll the program out?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Rollout_Plan__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Fiscal_Consideration</name>
            <fieldText>Fiscal Consideration</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Fiscal_Consideration_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_IsLoan</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>combobox</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>option</name>
                        <value>
                            <stringValue>Yes;No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>If this program is a loan, will there be collateral requirements? What will be the program loss reserve? </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.IsLoan__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_CollateralRequirements</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>If it is a Loan, please specify the collateral requiements</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Collateral_Requirements__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsLoan.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_EstimatedAwardSize</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What is the estimated average size of the award? If awards are typically under $100k, payment requests require receipts. If awards typically exceed $100k, will the target awardee market have the sophistication and capability to complete an SOE/IAR?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Estimated_Award_Size__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>text</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_EligibleIneligibleTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Program_Eligible_Fund__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>componentApiName</name>
                        <value>
                            <stringValue>Copy_1_of_EligibleIneligibleTable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Program_Eligible_Fund__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Eligible_Funds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Eligible_Use__c,Ineligible_Use__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Eligible_Use__c:500, Ineligible_Use__c:500</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>What are the eligible/ineligible uses of the funds?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordDeletion</name>
                        <value>
                            <stringValue>FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordAddition</name>
                        <value>
                            <stringValue>FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>utility:moneybag</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWraps</name>
                        <value>
                            <stringValue>Eligible_Use__c:true, Ineligible_Use__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_HowManyAwards</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How many awards do we expect to contract?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>255</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.How_Many_Award__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_MaxAwardSize</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Estimated maximum award size?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>9</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLevelHelp</name>
                        <value>
                            <stringValue>Please enter numbers only (eg: 1000)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>intValue</name>
                        <value>
                            <elementReference>Get_Case_Records.Maximum_Award_Size__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_BudgetAmount</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What is the Budget Amount ? </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>name</name>
                        <value>
                            <stringValue>numbers</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>15</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>intValue</name>
                        <value>
                            <elementReference>Get_Case_Records.Maximum_Award_Size__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_FundingSource</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What is the funding source? </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>255</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Funding_Source__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Application</name>
            <fieldText>Application</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Application_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_IsBusiness_Community</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Is this a business or community application?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>combobox</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>option</name>
                        <value>
                            <stringValue>Business Application;Community Application</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Is_Business_or_Community_Application__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_AddendumsProgram</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What addendums will this program need? </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minlength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Addendums_for_Program__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Investment_Development</name>
        <label>Investment Development</label>
        <locationX>765</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Number_of_Rows</targetReference>
        </connector>
        <fields>
            <name>Data_Measurement_and_Reporting</name>
            <fieldText>Data Measurement and Reporting</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Data_Measurement_and_Reporting_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Program_Guideline_Link</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>url</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Please provide the URL link for the Program Guideline template</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Program_Guideline_Link__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLevelHelp</name>
                        <value>
                            <stringValue>Please provide URL Link starting with &quot;https://&quot; eg:  https://wedc.org</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Case_Records.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Program_Development_Process_New_Program</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Program_Type</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What type of Award will this be? Grant, Tax credit, Loan, Other?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>combobox</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>option</name>
                        <value>
                            <stringValue>Grant;Tax Credit;Loan</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Award_Type__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>TableWarning1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 3, 3);&quot;&gt;*Please fill out the table below &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countRowsDeliverable</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ProgramDeliverableTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Program_Deliverable__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>componentApiName</name>
                        <value>
                            <stringValue>ProgramDeliverableTable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Program_Deliverable__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Program_Deliverable_Table</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Deliverable_Type__c,Deliverable_Definition__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Deliverable_Type__c:500, Deliverable_Definition__c:501</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Start by listing the  specific deliverables  the program is expected to produce. These are tangible products or services resulting from the program&apos;s activities, like reports, events, training sessions, or developed tools.  Clearly defining these deliverables is essential for understanding what the program will concretely achieve in the short term.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:high_velocity_sales</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowRecordAddition</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordAddition</name>
                        <value>
                            <stringValue>TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowRecordDeletion</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordDeletion</name>
                        <value>
                            <stringValue>TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>liveUpdateModeEnabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_liveUpdateModeEnabled</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultInputRecord</name>
                        <value>
                            <elementReference>ProgramDeliverableDefaultValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWraps</name>
                        <value>
                            <stringValue>Deliverable_Type__c:true, Deliverable_Definition__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Program_Outcomes</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Define the program outcomes, which are the longer-term impacts of your program. Unlike outputs and deliverables, outcomes reflect changes or benefits resulting from the program, such as improved skills, behavioral changes, or policy impacts.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>3126</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Program_Outcomes__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Estimate_evaluation</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>255</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How long will it take before we can accurately evaluate the outcomes? </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Estimate_for_Evaluation__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Threat_Preparedness</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How does this program address risk management and threat preparedness at both microeconomic (individual or small-scale) and macroeconomic (national or global scale) levels?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Threat_Preparedness__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Can_WEDC_Implement</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Does WEDC have the necessary skills and resources, at current staffing levels, to successfully implement and sustain this program, or will additional staffing and resources be required?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>combobox</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>option</name>
                        <value>
                            <stringValue>Yes;No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Can_WEDC_Implement__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CanWEDCImplement_Reason</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>If yes, please specify the additional resources that are required</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Can_WEDC_Implement_Reason__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Can_WEDC_Implement.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Report_Frequency</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How frequently will WEDC report on the progress of this program (performance reporting cadence)?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Report_Frequency__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Eligibility</name>
            <fieldText>Eligibility</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Eligibility_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TableWarning2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 13, 13);&quot;&gt;*Please fill out the table below&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countRowsEligibleCriteria</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EligibilityCriteriaTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Program_Eligibility_Criteria__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>componentApiName</name>
                        <value>
                            <stringValue>EligibilityCriteriaTable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Program_Eligibility_Criteria__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Eligibility_Criteria</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Eligibility_Criteria__c,Eligibility_Item_Collection__c,Item_Collection_Period__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Eligibility_Criteria__c:190, Eligibility_Item_Collection__c:475, Item_Collection_Period__c:335</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordDeletion</name>
                        <value>
                            <stringValue>TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowRecordAddition</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordAddition</name>
                        <value>
                            <stringValue>TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>List the eligibility criteria and what needs to be collected to qualify an eligible activity? When will they be collected?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:agent_home</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowRecordDeletion</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>liveUpdateModeEnabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_liveUpdateModeEnabled</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultInputRecord</name>
                        <value>
                            <elementReference>ProgramEligibilityDefaultValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWraps</name>
                        <value>
                            <stringValue>Eligibility_Criteria__c:true, Eligibility_Item_Collection__c:true, Item_Collection_Period__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>TargetAudience</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How will you reach your target audience? - (Marketing, Comms)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Target_Audience__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Is_Competetive</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Is the program competitive or non-competitive?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>combobox</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>option</name>
                        <value>
                            <stringValue>Competitive;Non-competitive  </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Is_Competetive__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ScoringCriteria</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>If Competitive, please add the scoring criteria </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Scoring_Criteria__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Competetive.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Competitive</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RolloutDate</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>If Competitive, please specify When would be the best time to roll the program out?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Rollout_Plan__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Competetive.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Competitive</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fiscal_Consideration</name>
            <fieldText>Fiscal Consideration</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fiscal_Consideration_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IsLoan</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>combobox</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>option</name>
                        <value>
                            <stringValue>Yes;No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>If this program is a loan, will there be collateral requirements? What will be the program loss reserve? </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.IsLoan__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Program_Type.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Loan</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CollateralRequirements</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>If it is a Loan, please specify the collateral requiements</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Collateral_Requirements__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsLoan.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EstimatedAwardSize</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What is the estimated average size of the award? If awards are typically under $100k, payment requests require receipts. If awards typically exceed $100k, will the target awardee market have the sophistication and capability to complete an SOE/IAR?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Estimated_Award_Size__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>TableWarning3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;*Please fill out the Table below&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CountRowsEligibleFunds</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EligibleIneligibleTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Program_Eligible_Fund__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>componentApiName</name>
                        <value>
                            <stringValue>EligibleIneligibleTable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Program_Eligible_Fund__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Eligible_Funds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Eligible_Use__c,Ineligible_Use__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Eligible_Use__c:500, Ineligible_Use__c:500</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>What are the eligible/ineligible uses of the funds?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowRecordDeletion</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordDeletion</name>
                        <value>
                            <stringValue>TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowRecordAddition</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowRecordAddition</name>
                        <value>
                            <stringValue>TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>utility:moneybag</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>liveUpdateModeEnabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_liveUpdateModeEnabled</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultInputRecord</name>
                        <value>
                            <elementReference>programEligibleFundDefaultValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWraps</name>
                        <value>
                            <stringValue>Eligible_Use__c:true, Ineligible_Use__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>HowManyAwards</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How many awards do we expect to contract?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>255</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.How_Many_Award__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MaxAwardSize</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Estimated maximum award size?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>9</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLevelHelp</name>
                        <value>
                            <stringValue>Please enter numbers only (eg: 1000)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>intValue</name>
                        <value>
                            <elementReference>Get_Case_Records.Maximum_Award_Size__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BudgetAmount</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What is the Budget Amount ? </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>name</name>
                        <value>
                            <stringValue>numbers</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>15</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>intValue</name>
                        <value>
                            <elementReference>Get_Case_Records.Maximum_Award_Size__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FundingSource</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What is the funding source? </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxLength</name>
                        <value>
                            <stringValue>255</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Funding_Source__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Application</name>
            <fieldText>Application</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IsBusiness_Community</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Is this a business or community application?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>combobox</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>option</name>
                        <value>
                            <stringValue>Business Application;Community Application</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Is_Business_or_Community_Application__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AddendumsProgram</name>
                    <extensionName>c:lwcInputWEDC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What addendums will this program need? </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minlength</name>
                        <value>
                            <stringValue>32768</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonlyInUse</name>
                        <value>
                            <elementReference>readOnly</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Case_Records.Addendums_for_Program__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>longtext</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SaveWork</name>
            <choiceReferences>Yes_this_looks_good</choiceReferences>
            <choiceReferences>No_I_want_to_save_and_revisit_my_work</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to submit your work for the Working Group approval?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>281</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DeliverableOutputText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Identifying Program Deliverables or Outputs:&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Start by listing the&amp;nbsp;specific deliverables or outputs&amp;nbsp;the program is expected to produce. These are tangible products or services resulting from the program&apos;s activities, like reports, events, training sessions, or developed tools.&amp;nbsp;&lt;/li&gt;&lt;li&gt;Clearly defining these outputs is essential for understanding what the program will concretely achieve in the short term.&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Greetings!&lt;/p&gt;We hope this email finds you well.&lt;/p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are writing to request your review and approval of the related case at your earliest convenience. Your approval is crucial as it will automatically generate a subsequent task, allowing us to proceed with the next steps efficiently.&lt;/p&gt;&lt;br&gt;&lt;/p&gt;Please find the details of the case attached for your perusal. If you have any questions or require additional information, do not hesitate to reach out.&lt;/p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Program Name: &lt;/strong&gt;{!Get_Case_Records.Program_Name__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Program Case URL :&lt;/strong&gt; https://wedc.lightning.force.com/{!Get_Case_Records.Id}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Thank you for your prompt attention to this matter.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;--Please do not reply to this email--&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please review the {!Get_Case_Records.Program_Name__c} case&apos;s Investment Development form and complete the task assigned to you. Please add any additional any decision notes in the chatter feed or while completing the task.</text>
    </textTemplates>
    <variables>
        <name>countRowsDeliverable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countRowsEligibleCriteria</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountRowsEligibleFunds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EligibilityCriteriaCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Eligibility_Criteria__c</objectType>
    </variables>
    <variables>
        <name>EligibilityFundCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Eligible_Fund__c</objectType>
    </variables>
    <variables>
        <name>emailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>memberID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProgramDeliverableCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Deliverable__c</objectType>
    </variables>
    <variables>
        <name>ProgramDeliverableDefaultValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Deliverable__c</objectType>
    </variables>
    <variables>
        <name>ProgramEligibilityDefaultValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Eligibility_Criteria__c</objectType>
    </variables>
    <variables>
        <name>programEligibleFundDefaultValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Eligible_Fund__c</objectType>
    </variables>
    <variables>
        <name>readOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
