force-app/main/default/flows/New_Program_Work_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetFirst_for_SON</name>
        <label>GetFirst for SON</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <actionName>GetFirst</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Investment_Development_Flows</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Flow_Interview__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputMember</typeName>
            <typeValue>Flow_Interview__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Previous_SON_Flows</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetFirst</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GetFirst_INV</name>
        <label>GetFirst INV</label>
        <locationX>710</locationX>
        <locationY>1466</locationY>
        <actionName>GetFirst</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Main_Record_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Flow_Interview__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputMember</typeName>
            <typeValue>Flow_Interview__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Investment_Development_Flows</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetFirst</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Investment_Development</name>
        <label>Refresh Investment Development</label>
        <locationX>842</locationX>
        <locationY>1982</locationY>
        <actionName>c:localRefresh</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:localRefresh</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Investment_Development_Preview</name>
        <label>Refresh Investment Development Preview</label>
        <locationX>578</locationX>
        <locationY>1982</locationY>
        <actionName>c:localRefresh</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:localRefresh</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RefreshSON</name>
        <label>RefreshSON</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <actionName>c:localRefresh</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:localRefresh</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RefreshSON_Preview</name>
        <label>RefreshSON Preview</label>
        <locationX>314</locationX>
        <locationY>1982</locationY>
        <actionName>c:localRefresh</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:localRefresh</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Increase_Submission_Count_for_Investment_Dvelopment</name>
        <label>Increase Submission Count for Investment Dvelopment</label>
        <locationX>930</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>submissionCount_INV</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previously_Investment_Development</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Flow_Submission_Count</name>
        <label>Number of Flow Submission</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CompletedFlowCounter_SON</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_submitted_SON_Flows</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_previous_INV_Flows</name>
        <label>Are there previous INV Flows?</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Main_Record_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesThereArePreviousINVFlows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Investment_Development_Flows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFirst_INV</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_previous_SON</name>
        <label>Are there previous SON Flows</label>
        <locationX>842</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Get_Investment_Development_Flows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_SON_Flows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFirst_for_SON</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Screen_to_Show</name>
        <label>What Screen to Show?</label>
        <locationX>842</locationX>
        <locationY>1766</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Revist_SON</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>StartPreviewSON.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start SON</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RevisitPreviewSON.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revisit SON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_OR_Revisit_SON</targetReference>
            </connector>
            <label>Start OR Revist SON</label>
        </rules>
        <rules>
            <name>Preview_SON</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RevisitPreviewSON.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preview SON</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartPreviewSON.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preview SON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreviewSON_Flow</targetReference>
            </connector>
            <label>Preview SON</label>
        </rules>
        <rules>
            <name>Preview_Investment_Development</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RevisitPreview_INV.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preview INV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartPreview_INV.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preview INV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preview_Investment_Development_Form</targetReference>
            </connector>
            <label>Preview Investment Development</label>
        </rules>
        <rules>
            <name>Start_or_Revisit_Investment_Development</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RevisitPreview_INV.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revisit INV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartPreview_INV.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start INV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Restart_Investment_Development</targetReference>
            </connector>
            <label>Start or Revisit Investment Development</label>
        </rules>
        <rules>
            <name>Preview_SON_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lock_SON.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lock SON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Statement_of_Need_Read_Only</targetReference>
            </connector>
            <label>Preview SON Locked</label>
        </rules>
        <rules>
            <name>Investment_Development_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lock_INV.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lock INV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Investment_Development_Read_Only</targetReference>
            </connector>
            <label>Investment Development Locked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>New Program - Work Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Program - Work Plan</label>
    <loops>
        <name>Loop_submitted_SON_Flows</name>
        <label>Loop submitted SON Flows</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Previous_SON_Flows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Flow_Submission_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_previous_SON</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Previously_Investment_Development</name>
        <label>Previously Investment Development</label>
        <locationX>842</locationX>
        <locationY>1058</locationY>
        <collectionReference>Get_Investment_Development_Flows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Submission_Count_for_Investment_Dvelopment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_previous_INV_Flows</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Case records for the new program record type</description>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_SON_Flows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Investment_Development_Flows</name>
        <label>Get Investment Development Flows</label>
        <locationX>842</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previously_Investment_Development</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatesToId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Interview_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Flow_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MMPD - Investment Development</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Flow_Interview__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets records of previous Statement of Need Flows</description>
        <name>Get_Previous_SON_Flows</name>
        <label>Get Previous SON Flows</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_submitted_SON_Flows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatesToId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Interview_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MMPD - Statement of Need</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Flow_Interview__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Main_Record_Screen</name>
        <label>Main Record Screen</label>
        <locationX>842</locationX>
        <locationY>1658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Screen_to_Show</targetReference>
        </connector>
        <fields>
            <name>Statement_of_Need</name>
            <fieldText>Statement of Need</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Statement_of_Need_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>myimage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>checklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>55</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>55</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Statement_of_Need_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubmitSON</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;In this section, you will be asked to detail your Statement of Needs for the new program proposal. Please select your Divisional VP and fill in the details to move the process through the Steering Committee and Investment Development Group&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Statement_of_Need_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShowDetailsSON</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>selection</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variants</name>
                        <value>
                            <stringValue>{&quot;selected&quot;:&quot;brand&quot;,&quot;unselected&quot;:&quot;neutral&quot;}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;See Details&quot;,&quot;value&quot;:&quot;See Details&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:date_time&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CompletedFlowCounter_SON</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>StartPreviewSON</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variants</name>
                        <value>
                            <stringValue>{&quot;selected&quot;:&quot;brand&quot;,&quot;unselected&quot;:&quot;neutral&quot;}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Start&quot;,&quot;value&quot;:&quot;Start SON&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:jump_to_right&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Preview&quot;,&quot;value&quot;:&quot;Preview SON&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:preview&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>CompletedFlowCounter_SON</leftValueReference>
                            <operator>LessThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Program Proposal</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ShowDetailsTextSON</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This step has been completed {!CompletedFlowCounter_SON} times previously. Most recently completed by {!GetFirst_for_SON.outputMember.User__r.FirstName} {!GetFirst_for_SON.outputMember.User__r.LastName} , and was most recently completed by on {!GetFirst_for_SON.outputMember.CreatedDate}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ShowDetailsSON.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>See Details</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RevisitPreviewSON</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variants</name>
                        <value>
                            <stringValue>{&quot;selected&quot;:&quot;brand&quot;,&quot;unselected&quot;:&quot;neutral&quot;}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Revist&quot;,&quot;value&quot;:&quot;Revisit SON&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:loop&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Preview&quot;,&quot;value&quot;:&quot;Preview SON&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:preview&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
                        <conditions>
                            <leftValueReference>CompletedFlowCounter_SON</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Division VP Approval 1</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Steering Committee Approval 1</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Investment Development</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Working Group Approval</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Lock_SON</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variants</name>
                        <value>
                            <stringValue>{&quot;selected&quot;:&quot;brand&quot;,&quot;unselected&quot;:&quot;neutral&quot;}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Preview Submission&quot;,&quot;value&quot;:&quot;Lock SON&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:preview&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Division VP Approval 2</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Steering Committee Approval 2</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>AAC</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Board Approval</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Closed</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Investment_Development_Section</name>
            <fieldText>Investment Development</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Investment_Development_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Investment_Development_img</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>investmentDevelopment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>55</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>55</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Investment_Development_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Investment_Development_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;In this section, you will be asked to detail your Investment Development plan for the new program proposal. Please fill in the details to move the process through the Divisional VP, Steering Committee, AAC and the Board. &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Investment_Development_Section_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SeeDetailsINV</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>selection</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variants</name>
                        <value>
                            <stringValue>{&quot;selected&quot;:&quot;brand&quot;,&quot;unselected&quot;:&quot;neutral&quot;}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;See Details&quot;,&quot;value&quot;:&quot;See Details INV&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:date_time&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>submissionCount_INV</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ShowDetailsText_INV</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This step has been completed {!submissionCount_INV} times previously.  Recently completed by {!GetFirst_INV.outputMember.User__r.FirstName} {!GetFirst_INV.outputMember.User__r.LastName} , and was most recently completed by on {!GetFirst_INV.outputMember.CreatedDate}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SeeDetailsINV.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>See Details INV</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>StartPreview_INV</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variants</name>
                        <value>
                            <stringValue>{&quot;selected&quot;:&quot;brand&quot;,&quot;unselected&quot;:&quot;neutral&quot;}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Start&quot;,&quot;value&quot;:&quot;Start INV&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:jump_to_right&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Preview&quot;,&quot;value&quot;:&quot;Preview INV&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:preview&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Investment Development</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>submissionCount_INV</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RevisitPreview_INV</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variants</name>
                        <value>
                            <stringValue>{&quot;selected&quot;:&quot;brand&quot;,&quot;unselected&quot;:&quot;neutral&quot;}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Revisit&quot;,&quot;value&quot;:&quot;Revisit INV&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:loop&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Preview&quot;,&quot;value&quot;:&quot;Preview INV&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:preview&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>submissionCount_INV</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Investment Development</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Working Group Approval</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Lock_INV</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variants</name>
                        <value>
                            <stringValue>{&quot;selected&quot;:&quot;brand&quot;,&quot;unselected&quot;:&quot;neutral&quot;}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Preview Submission&quot;,&quot;value&quot;:&quot;Lock INV&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:preview&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Division VP Approval 2</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Steering Committee Approval 2</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>AAC</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Board Approval</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Closed</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Investment_Development_Read_Only</name>
        <label>Investment Development Read Only</label>
        <locationX>1370</locationX>
        <locationY>1874</locationY>
        <flowName>MMPD_Investment_Development</flowName>
        <inputAssignments>
            <name>readOnly</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Preview_Investment_Development_Form</name>
        <label>Preview Investment Development Form</label>
        <locationX>578</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>Refresh_Investment_Development_Preview</targetReference>
        </connector>
        <flowName>MMPD_Investment_Development</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>readOnly</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>PreviewSON_Flow</name>
        <label>PreviewSON Flow</label>
        <locationX>314</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>RefreshSON_Preview</targetReference>
        </connector>
        <flowName>MMPD_Statement_of_Need</flowName>
        <inputAssignments>
            <name>ReadOnly</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Start_OR_Revisit_SON</name>
        <label>Start OR Revisit SON</label>
        <locationX>50</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>RefreshSON</targetReference>
        </connector>
        <flowName>MMPD_Statement_of_Need</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Start_Restart_Investment_Development</name>
        <label>Start/ Restart Investment Development</label>
        <locationX>842</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>Refresh_Investment_Development</targetReference>
        </connector>
        <flowName>MMPD_Investment_Development</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Statement_of_Need_Read_Only</name>
        <label>Statement of Need Read Only</label>
        <locationX>1106</locationX>
        <locationY>1874</locationY>
        <flowName>MMPD_Statement_of_Need</flowName>
        <inputAssignments>
            <name>ReadOnly</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Counts the number of flows that were completed</description>
        <name>CompletedFlowCounter_SON</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>submissionCount_INV</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
