force-app/main/default/flows/Program_Task_Chain.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AAC_Email</name>
        <label>AAC Email</label>
        <locationX>1106</locationX>
        <locationY>4199</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_2_of_Notification_to_Steering_Committee_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SteeringCommitteeMembersEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>AAC Approval Required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Board_Approval_Email</name>
        <label>Board Approval Email</label>
        <locationX>1370</locationX>
        <locationY>4199</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notification_to_Steering_Committee_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SteeringCommitteeMembersEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Board Approval Required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_Closed_Email</name>
        <label>Case Closed Email</label>
        <locationX>2778</locationX>
        <locationY>4091</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Case_Closed_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Case_Records.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Case Closed </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The case has been closed!</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_Closed_Notification</name>
        <label>Case Closed Notification</label>
        <locationX>2778</locationX>
        <locationY>4199</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_the_Case_Status_to_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CaseOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Program Case Closed!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Your Program Case has been Closed!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Notification_to_Steering_Committee</name>
        <label>Notification to Steering Committee 2</label>
        <locationX>842</locationX>
        <locationY>4307</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SteeringCommitteeMemberID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Please review the statement of need and investment development form and complete the task assigned to you. Please add any additional decision notes in the chatter feed or while completing the task. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Division_VP_Notification</name>
        <label>Division VP Notification 2</label>
        <locationX>578</locationX>
        <locationY>4307</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>DivisionVPCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Please review the statement of need and investment development form and complete the task assigned to you. Please add any additional decision notes in the chatter feed or while completing the task. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Notification_to_Steering_Committee_2</name>
        <label>Notification to Steering Committee 3</label>
        <locationX>1106</locationX>
        <locationY>4307</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SteeringCommitteeMemberID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Please review the Program Case and delegate the AAC&apos;s decision on the task assigned to you</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Send_Rework_INV_Notification</name>
        <label>Copy 2 of Send Rework INV Notification</label>
        <locationX>2074</locationX>
        <locationY>4415</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case_Status_Rework</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CaseOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Rework Requested for your Program </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Your Program Case need to be reworked. Please revisit the Program Workplan and make the appropriate changes to Statement of Need forms</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Division_VP_2_Email</name>
        <label>Division VP 2 Email</label>
        <locationX>578</locationX>
        <locationY>4199</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_2_of_Division_VP_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Division_VP_Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Division VP Approval - 2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_Steering_Committee</name>
        <label>Notification to Steering Committee</label>
        <locationX>50</locationX>
        <locationY>4307</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SteeringCommitteeMemberID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Please review the statement of need form and complete the task assigned to you. Please add any additional decision notes in the chatter feed or while completing the task. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_Steering_Committee_3</name>
        <label>Notification to Steering Committee 3</label>
        <locationX>1370</locationX>
        <locationY>4307</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SteeringCommitteeMemberID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Please review the Program Case and delegate the Board&apos;s decision on the task assigned to you</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notifying_the_Working_Group</name>
        <label>Notifying the Working Group</label>
        <locationX>314</locationX>
        <locationY>4091</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>WorkingGroupMemberID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>InvestmentDevelopmentSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The following program is ready for Investment Development and requires your assistance. Thank you for your support!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Rework_Investment_Development_Email</name>
        <label>Rework Investment Development Email</label>
        <locationX>2338</locationX>
        <locationY>4307</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Rework_INV_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Case_Records.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rework Investment Development Form</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ReworkEmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Rework_Statement_of_Need_Email</name>
        <label>Rework Statement of Need Email</label>
        <locationX>2074</locationX>
        <locationY>4307</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_2_of_Send_Rework_INV_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Case_Records.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rework Statement of Need Form </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ReworkEmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_System_Integeration</name>
        <label>Send Email System Integeration</label>
        <locationX>1634</locationX>
        <locationY>4415</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Notifications_to_System_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SystemOwnerEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SystemIntegerationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notifications_to_System_Owner</name>
        <label>Send Notifications to System Owner</label>
        <locationX>1634</locationX>
        <locationY>4523</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>systemOwnerIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>System Integeration Action Required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SystemIntegerationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Rework_INV_Notification</name>
        <label>Send Rework INV Notification</label>
        <locationX>2338</locationX>
        <locationY>4415</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case_Status_to_Investment_Development</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CaseOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Rework Requested for your Program case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Your Program Case need to be reworked. Please revisit the Program Work Plan and make the appropriate changes to Investment Development form</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SISC_Email_1</name>
        <label>SISC Email 1</label>
        <locationX>50</locationX>
        <locationY>4199</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notification_to_Steering_Committee</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SteeringCommitteeMembersEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Steering Committee Approval 1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Steering_Committee_Email_2</name>
        <label>Steering Committee Email 2</label>
        <locationX>842</locationX>
        <locationY>4199</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Notification_to_Steering_Committee</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SteeringCommitteeMembersEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Steering Committee Approval - 2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_ID_to_Variable</name>
        <label>Add ID to Variable</label>
        <locationX>2184</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>SteeringCommitteeMemberID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Member_ID_Steering_Committee.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Member_ID_Steering_Committee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_of_Members</name>
        <label>Assign ID of Members</label>
        <locationX>2184</locationX>
        <locationY>2843</locationY>
        <assignmentItems>
            <assignToReference>WorkingGroupMemberID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_MemberID_Working_Group.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_MemberID_Working_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Email_and_IDs_to_a_Collection</name>
        <label>Assigning Email and IDs to a Collection</label>
        <locationX>2184</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>SystemOwnerEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ID_Collection_Loop_System_Owners.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>systemOwnerIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ID_Collection_Loop_System_Owners.User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ID_Collection_Loop_System_Owners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Owner_Assignments</name>
        <label>Case Owner Assignments</label>
        <locationX>2096</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>CaseOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case_Records.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Member_ID_Steering_Committee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_the_Case</name>
        <label>Close the Case</label>
        <locationX>2778</locationX>
        <locationY>3983</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Records.New_Program_Proposal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Closed_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_Collection_for_SISC</name>
        <label>Email Collection for SISC</label>
        <locationX>2184</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>SteeringCommitteeMembersEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Email_List_SISC.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_List_SISC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailList_for_Working_Group_Assignment</name>
        <label>EmailList for Working Group Assignment</label>
        <locationX>2184</locationX>
        <locationY>3251</locationY>
        <assignmentItems>
            <assignToReference>WorkingGroupEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailList_for_Working_Group.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailList_for_Working_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rework_Update_the_Status_Path</name>
        <label>Rework Update the Status Path</label>
        <locationX>2074</locationX>
        <locationY>4199</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Records.New_Program_Proposal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Program Proposal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rework_Statement_of_Need_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rework_Update_the_Status_Path_Investment_Development</name>
        <label>Rework Update the Status Path Investment Development</label>
        <locationX>2338</locationX>
        <locationY>4199</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Records.New_Program_Proposal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Investment Development</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rework_Investment_Development_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Investment_Development</name>
        <label>Update Status to Investment Development</label>
        <locationX>314</locationX>
        <locationY>3983</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Records.New_Program_Proposal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Investment Development</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notifying_the_Working_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Status_Path</name>
        <label>Update the Status Path</label>
        <locationX>50</locationX>
        <locationY>4091</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Records.New_Program_Proposal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Steering Committee Approval 1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SISC_Email_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Status_Path_AAC</name>
        <label>Update the Status Path AAC</label>
        <locationX>1106</locationX>
        <locationY>4091</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Records.New_Program_Proposal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AAC_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Status_Path_Board_Approval</name>
        <label>Update the Status Path Board Approval</label>
        <locationX>1370</locationX>
        <locationY>4091</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Records.New_Program_Proposal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Board Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Board_Approval_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Status_Path_Div_2</name>
        <label>Update the Status Path Div 2</label>
        <locationX>578</locationX>
        <locationY>4091</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Records.New_Program_Proposal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Division VP Approval 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DivisionVPCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case_Records.Division_VP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Division_VP_2_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Status_Path_SC_2</name>
        <label>Update the Status Path SC 2</label>
        <locationX>842</locationX>
        <locationY>4091</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Records.New_Program_Proposal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Steering Committee Approval 2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Steering_Committee_Email_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Rework_or_Declined_Submission</name>
        <label>Is Rework or Declined Submission</label>
        <locationX>2690</locationX>
        <locationY>3767</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Decision_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rework</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateReworkCompletion_Info</targetReference>
            </connector>
            <label>Rework</label>
        </rules>
        <rules>
            <name>Declined_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Decision_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Declined_Submission_Completion_Info</targetReference>
            </connector>
            <label>Declined Submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Task_Completed_AND_Reviewed_Accepted</name>
        <label>Is Task Completed AND Reviewed Accepted</label>
        <locationX>2096</locationX>
        <locationY>3659</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed and Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Completion_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rework</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Rework_or_Declined_Submission</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Right_Record_Type</name>
        <label>Right Record Type?</label>
        <locationX>2745</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Right_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Task_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Steering_Committee_Queue</targetReference>
            </connector>
            <label>Yes- Right Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Task_to_create</name>
        <label>What Task to create?</label>
        <locationX>974</locationX>
        <locationY>3875</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not creating a task</defaultConnectorLabel>
        <rules>
            <name>Create_Task_for_Steering_Committee_Approval_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division VP Approval 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed and Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Steering_Committe_Approval_1</targetReference>
            </connector>
            <label>Steering Committee Approval 1</label>
        </rules>
        <rules>
            <name>Investment_Development_Plan</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Steering Committee Approval 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed and Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rework Investment Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Investment_Development</targetReference>
            </connector>
            <label>Investment Development Plan</label>
        </rules>
        <rules>
            <name>Create_Task_for_Divisional_VP_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working Group Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed and Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Division_VP_Approval_2</targetReference>
            </connector>
            <label>Divisional VP 2</label>
        </rules>
        <rules>
            <name>Create_Task_for_Steering_Committee_Approval_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division VP Approval 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed and Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Steering_Committee_Approval_2</targetReference>
            </connector>
            <label>Steering Committee Approval 2</label>
        </rules>
        <rules>
            <name>Create_Task_for_AAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Steering Committee Approval 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed and Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AAC_Approval</targetReference>
            </connector>
            <label>AAC</label>
        </rules>
        <rules>
            <name>Create_Task_for_Board_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed and Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Board_Approval</targetReference>
            </connector>
            <label>Board Approval</label>
        </rules>
        <rules>
            <name>System_Integeration_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Board Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed and Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnABLE_Task</targetReference>
            </connector>
            <label>System Integration Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <description>Rework for Statement of Need or Investment Development Form?</description>
        <name>What_to_Rework</name>
        <label>What to Rework?</label>
        <locationX>2338</locationX>
        <locationY>3983</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rework_Statement_of_Need</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division VP Approval 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Steering Committee Approval 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rework_Statement_of_Need2</targetReference>
            </connector>
            <label>Rework Statement of Need</label>
        </rules>
        <rules>
            <name>Rework_Investment_Development</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working Group Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division VP Approval 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Steering Committee Approval 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Records.New_Program_Proposal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Board Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rework_Investment_Development_Task</targetReference>
            </connector>
            <label>Rework Investment Development</label>
        </rules>
    </decisions>
    <description>Handles the creation of subsequent tasks for Programs once the first Divisional VP is approved</description>
    <environments>Default</environments>
    <formulas>
        <description>A week from the time the record is created</description>
        <name>WeekFromNow</name>
        <dataType>Date</dataType>
        <expression>Today() + 14</expression>
    </formulas>
    <interviewLabel>Program Task Path {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Task Chain</label>
    <loops>
        <name>Email_List_SISC</name>
        <label>Email List SISC</label>
        <locationX>2096</locationX>
        <locationY>2435</locationY>
        <collectionReference>Get_User_from_the_SISC_Queue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Collection_for_SISC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_MemberID_Working_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>EmailList_for_Working_Group</name>
        <label>EmailList for Working Group</label>
        <locationX>2096</locationX>
        <locationY>3143</locationY>
        <collectionReference>Get_Working_Group_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EmailList_for_Working_Group_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Division_VP_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_MemberID_Working_Group</name>
        <label>Get MemberID Working Group</label>
        <locationX>2096</locationX>
        <locationY>2735</locationY>
        <collectionReference>Get_Queue_Members_Working_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ID_of_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Working_Group_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ID_Collection_Loop_System_Owners</name>
        <label>ID Collection Loop - System Owners</label>
        <locationX>2096</locationX>
        <locationY>1619</locationY>
        <collectionReference>Get_System_Owner_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Email_and_IDs_to_a_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_Owner_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Member_ID_Steering_Committee</name>
        <label>Member ID Steering Committee</label>
        <locationX>2096</locationX>
        <locationY>2027</locationY>
        <collectionReference>Get_Queue_Members_Steering_Committee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ID_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_from_the_SISC_Queue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Task is created for AAC Approval</description>
        <name>AAC_Approval</name>
        <label>AAC Approval</label>
        <locationX>1106</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>Update_the_Status_Path_AAC</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>WeekFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please review the related case for approval. Upon approving a it will create a subsequent task for the Working Group</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Steering_Committee_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>AAC Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>AAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Board Approval Task</description>
        <name>Board_Approval</name>
        <label>Board Approval</label>
        <locationX>1370</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>Update_the_Status_Path_Board_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>WeekFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please review the related case for approval. Upon approving a it will create a subsequent task for the Working Group</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Steering_Committee_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Board Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Board Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task is created for Division VP 2</description>
        <name>Division_VP_Approval_2</name>
        <label>Division VP Approval 2</label>
        <locationX>578</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>Update_the_Status_Path_Div_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>WeekFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please review the related case for approval. Upon approving a it will create a subsequent task for the SISC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_Records.Division_VP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012DL000006TsYDYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Division VP Approval 2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Division VP Approval 2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>EnABLE_Task</name>
        <label>EnABLE Task</label>
        <locationX>1634</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>SalesforceTask</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>WeekFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please mark this task complete after performing the system integration </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_EnABLE_System_Integration_User.SetupOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>EnABLE System Integeration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Intacct_Task</name>
        <label>Intacct Task</label>
        <locationX>1634</locationX>
        <locationY>4307</locationY>
        <connector>
            <targetReference>Send_Email_System_Integeration</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>WeekFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please mark this task complete after performing the program integration </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Intacct_System_Integration_User.SetupOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Intacct Integeration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Program_Hub_Task</name>
        <label>Program Hub Task</label>
        <locationX>1634</locationX>
        <locationY>4199</locationY>
        <connector>
            <targetReference>Intacct_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>WeekFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please mark this task complete after performing the system integration </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Program_Hub_Integration_User.SetupOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Program Hub Integeration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task is created for Rework Investment Development</description>
        <name>Rework_Investment_Development_Task</name>
        <label>Rework Investment Development Task</label>
        <locationX>2338</locationX>
        <locationY>4091</locationY>
        <connector>
            <targetReference>Rework_Update_the_Status_Path_Investment_Development</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>WeekFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please rework the Investment Development and mark this task complete. This will create the subsequent tasks for approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_Records.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Rework Investment Development</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Rework Investment Development</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task is created for Rework Statement of Need</description>
        <name>Rework_Statement_of_Need2</name>
        <label>Rework Statement of Need</label>
        <locationX>2074</locationX>
        <locationY>4091</locationY>
        <connector>
            <targetReference>Rework_Update_the_Status_Path</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>WeekFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please rework the Statement of Need and mark this task complete after making changes.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_Records.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012DL000006TsYDYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Rework Statement of Need</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Rework Statement of Need</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SalesforceTask</name>
        <label>Salesforce Task</label>
        <locationX>1634</locationX>
        <locationY>4091</locationY>
        <connector>
            <targetReference>Program_Hub_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>WeekFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please mark this task complete after performing the system integration </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Salesforce_Integration_User.SetupOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Salesforce System Integeration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task is created for Steering Committee 1</description>
        <name>Steering_Committe_Approval_1</name>
        <label>Steering Committee Approval 1</label>
        <locationX>50</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>Update_the_Status_Path</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>WeekFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please review the related case for approval. Upon approving a it will create a subsequent task for the Working Group</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Steering_Committee_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Steering Committee Approval 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Steering Committee Approval 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task is created for Steering Committee 1</description>
        <name>Steering_Committee_Approval_2</name>
        <label>Steering Committee Approval 2</label>
        <locationX>842</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>Update_the_Status_Path_SC_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>WeekFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please review the related case for approval. Upon approving a it will create a subsequent task for the Working Group</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Steering_Committee_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012DL000006TsYDYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Steering Committee Approval 2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Steering Committee Approval 2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Division_VP_Record</name>
        <label>Division VP Record</label>
        <locationX>2096</locationX>
        <locationY>3443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Records.Division_VP__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>2096</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Members_Steering_Committee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Record</name>
        <label>Get Custom Notification Record</label>
        <locationX>2096</locationX>
        <locationY>3551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Task_Completed_AND_Reviewed_Accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Program_Review_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EnABLE_System_Integration_User</name>
        <label>Get EnABLE System Integration User</label>
        <locationX>2096</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Intacct_System_Integration_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EnABLE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramIntegerationOwners__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intacct_System_Integration_User</name>
        <label>Get Intacct System Integration User</label>
        <locationX>2096</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_System_Owner_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intacct</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramIntegerationOwners__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Hub_Integration_User</name>
        <label>Get Program Hub Integration User</label>
        <locationX>2096</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Salesforce_Integration_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Program Hub</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramIntegerationOwners__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Members_Steering_Committee</name>
        <label>Get Queue Members Steering Committee</label>
        <locationX>2096</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Members_Working_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Steering_Committee_Queue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Members_Working_Group</name>
        <label>Get Queue Members Working Group</label>
        <locationX>2096</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program_Hub_Integration_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Working_Group_Queue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_Integration_User</name>
        <label>Get Salesforce Integration User</label>
        <locationX>2096</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EnABLE_System_Integration_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramIntegerationOwners__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Steering_Committee_Queue</name>
        <label>Get Steering Committee Queue</label>
        <locationX>2096</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Working_Group_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Steering_Committee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Owner_Records</name>
        <label>Get System Owner Records</label>
        <locationX>2096</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ID_Collection_Loop_System_Owners</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProgramIntegerationOwners__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record_Type</name>
        <label>Get Task Record Type</label>
        <locationX>2745</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Right_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task_for_Program</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_from_the_SISC_Queue</name>
        <label>Get User from the SISC Queue</label>
        <locationX>2096</locationX>
        <locationY>2327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_List_SISC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SteeringCommitteeMemberID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the queu</description>
        <name>Get_Working_Group_Queue</name>
        <label>Get Working Group Queue</label>
        <locationX>2096</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working_Group_Investment_Development</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Working_Group_Users</name>
        <label>Get Working Group Users</label>
        <locationX>2096</locationX>
        <locationY>3035</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailList_for_Working_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>WorkingGroupMemberID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>974</locationX>
        <locationY>4715</locationY>
        <inputReference>Get_Case_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status_Rework</name>
        <label>Update Case Status Rework</label>
        <locationX>2074</locationX>
        <locationY>4523</locationY>
        <inputReference>Get_Case_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status_to_Investment_Development</name>
        <label>Update Case Status to Investment Development</label>
        <locationX>2338</locationX>
        <locationY>4523</locationY>
        <inputReference>Get_Case_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the completion date, time and completed by for all task records that come in</description>
        <name>Update_Completion_Info</name>
        <label>Update Completion Info</label>
        <locationX>974</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>What_Task_to_create</targetReference>
        </connector>
        <inputAssignments>
            <field>Completed_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Action__c</field>
            <value>
                <stringValue>Reviewed and Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Completed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the completion date, time and completed by for all task records that come in</description>
        <name>Update_Declined_Submission_Completion_Info</name>
        <label>Update Declined Submission Completion Info</label>
        <locationX>2778</locationX>
        <locationY>3875</locationY>
        <connector>
            <targetReference>Close_the_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Completed_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Action__c</field>
            <value>
                <stringValue>Declined Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Completed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Case_Status_to_Closed</name>
        <label>Update the Case Status to Closed</label>
        <locationX>2778</locationX>
        <locationY>4307</locationY>
        <inputReference>Get_Case_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the completion date, time and completed by for all task records that come in</description>
        <name>UpdateReworkCompletion_Info</name>
        <label>Update Rework Completion Info</label>
        <locationX>2338</locationX>
        <locationY>3875</locationY>
        <connector>
            <targetReference>What_to_Rework</targetReference>
        </connector>
        <inputAssignments>
            <field>Completed_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Action__c</field>
            <value>
                <stringValue>Rework</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Completed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2619</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_Record_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Decision_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reviewed and Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Decision_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rework</stringValue>
            </value>
        </filters>
        <filters>
            <field>Decision_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined Submission</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Greetings!&lt;/p&gt;&lt;p&gt;We hope this email finds you well.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are writing to request your review and approval of the related case at your earliest convenience. Your approval is crucial as it will automatically generate a subsequent task, allowing us to proceed with the next steps efficiently.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find the details of the case attached for your perusal. If you have any questions or require additional information, do not hesitate to reach out.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Program Name: {&lt;/strong&gt;!Get_Case_Records.Program_Name__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Program Case URL :&lt;/strong&gt; https://wedc.lightning.force.com/{!Get_Case_Records.Id}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Thank you for your prompt attention to this matter.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;--Please do not reply to this email--&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>InvestmentDevelopmentSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Case_Records.Program_Name__c} Program is ready for Investment Development</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please Review the Program Case: {!Get_Case_Records.Program_Name__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ReworkEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Greetings!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;I hope this message finds you well.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We are writing to inform you that your {!Get_Case_Records.Program_Name__c} requires rework. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;During our review, we identified certain areas that need correction or additional information to ensure compliance with our requirements.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please review Salesforce case which outlines the specific changes needed. Once the necessary adjustments are made, kindly resubmit the form at your earliest convenience.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you have any questions or need further assistance, feel free to add comments on the Chatter feed within the Salesforce case&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Salesforce Case Link: https://wedc.lightning.force.com/{!Get_Case_Records.Id}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for your prompt attention to this matter.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;--Please Do NOT Reply to this Email--&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SystemIntegerationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You are being notified to complete a System Integration Task. {!Get_Case_Records.Program_Name__c} - program has been approved by the WEDC Board. Thank you for your assistance!</text>
    </textTemplates>
    <textTemplates>
        <name>SystemIntegerationEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please review the following Case for completing the integration tasks assigned to you:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Salesforce URL Link: https://wedc--mmpd.sandbox.lightning.force.com/lightning/r/Case/{!Get_Case_Records.Id}/view&lt;/p&gt;&lt;p&gt;&lt;br&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DivisionVPCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SteeringCommitteeMemberID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SteeringCommitteeMembersEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SystemOwnerEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>systemOwnerIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkingGroupEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkingGroupMemberID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
